node_modules/
Day1Part1/input
Day1Part1/day1part1.js
Day1Part2/input
Day1Part2/day1part2.js
Day2Part1/input
Day2Part1/day2part1.js
Day2Part2/input
Day2Part2/day2part2.js
Day3Part1/input
Day3Part1/day3part1.js
Day3Part2/input
Day3Part2/day3part2.js
Day4Part1/input
Day4Part1/day4part1.js
Day4Part2/input
Day4Part2/day4part2.js
Day5Part1/input
Day5Part1/day5part1.js
Day5Part2/input
Day5Part2/day5part2.js
Day6Part1/input
Day6Part1/day6part1.js
Day6Part2/input
Day6Part2/day6part2.js
Day7Part1/input
Day7Part1/day7part1.js
Day7Part2/input
Day7Part2/day7part2.js
Day8Part1/input
Day8Part1/day8part1.js
Day8Part2/input
Day8Part2/day8part2.js
Day9Part1/input
Day9Part1/day9part1.js
Day9Part2/input
Day9Part2/day9part2.js
Day10Part1/input
Day10Part1/day10part1.js
Day10Part2/input
Day10Part2/day10part2.js
Day11Part1/input
Day11Part1/day11part1.js
Day11Part2/input
Day11Part2/day11part2.js
